body {
    width: 100vw;
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#ffffff;
    background-size: cover;
    overflow: hidden;
  }
  .confetti-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 100%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    text-align: center;
    background: #000000;
    box-shadow: 3px 3px 8px #000000a4,
                3px 3px 8px #2c2c2c7e;
    transition: 0.5s;
  }
  .confetti-button:hover {
    background:#3b3b3b;
  }
  .confetti-button:active {
    background:#383838;
  }
  .button-wrapper {
    position: relative;
    width:200px;
    height:60px;
  }
  .button-wrapper canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  